<h2>What is mental health?</h2>
<p>Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act. It also helps determine how we handle stress, relate to others, and make healthy choices.<sup>1</sup> Mental health is important at every stage of life, from childhood and adolescence through adulthood.</p>
<hr>
<div class="float-md-right ml-md-3 pt-2"></div>
<h2>Why is mental health important for overall health?</h2>
<p>Mental and physical health are equally important components of overall health.&nbsp; For example, depression increases the risk for many types of physical health problems, particularly long-lasting conditions like <a href="/diabetes/managing/mental-health.html">diabetes</a>, <a href="/heartdisease/mentalhealth.htm">heart disease</a>, and stroke. Similarly, the presence of chronic conditions can increase the risk for mental illness.<sup>2</sup></p>
<hr>
<div class="float-md-right ml-md-3 pt-2"></div>
<h2>Can your mental health change over time?</h2>
<p>Yes, it&rsquo;s important to remember that a person&rsquo;s mental health can change over time, depending on many factors.&nbsp; When the demands placed on a person exceed their resources and coping abilities, their mental health could be impacted. For example, if someone is working long hours, caring for a relative, or experiencing economic hardship, they may experience poor mental health.</p>
<hr>
<div class="float-md-right ml-md-3 pt-2"></div>
<h2>How common are mental illnesses?</h2>
<p>Mental illnesses are among the most common health conditions in the United States.</p>
<ul>
<li>More than&nbsp;1 in 5 US adults live with a mental illness.</li>
<li>Over 1 in 5 youth (ages 13-18) either currently or at some point during their life, have had a seriously debilitating mental illness.<sup>5</sup></li>
<li>About 1 in 25 U.S. adults lives with a serious mental illness, such as schizophrenia, bipolar disorder, or major depression.<sup>6</sup></li>
</ul>
<hr>
<div class="float-md-right ml-md-3 pt-2"></div>
<h2>What causes mental illness?</h2>
<p>There is no single cause for mental illness. A number of factors can contribute to risk for mental illness, such as</p>
<ul>
<li><a href="https://www.cdc.gov/violenceprevention/aces/index.html">Adverse Childhood Experiences</a>, such as trauma or a history of abuse (for example, child abuse, sexual assault, witnessing violence, etc.)</li>
<li>Experiences related to other ongoing (chronic) medical conditions, such as cancer or diabetes</li>
<li>Biological factors or chemical imbalances in the brain</li>
<li>Use of alcohol or drugs</li>
<li>Having feelings of loneliness or isolation</li>
</ul>
</div></div></div><div class="tab-pane " role="tabpanel" id="tabs-1-2"><div class="card border-0 rounded-0 mb-3"><div class="card-body bg-white"><p class="text-left">People can experience different types of mental illnesses or disorders, and they can often occur at the same time. Mental illnesses can occur over a short period of time or be episodic. This means that the mental illness comes and goes with discrete beginnings and ends. Mental illness can also be ongoing or long-lasting.</p>
<p>There are more than 200 types of mental illness. Some of the main types of mental illness and disorders are listed <a href="https://medlineplus.gov/mentalhealthandbehavior.html" class="tp-link-policy" data-domain-ext="gov">here<span aria-label="external icon" class="sr-only" role="img"></span><span class="fi cdc-icon-external x16 fill-external" alt="" aria-hidden="true"></span></a>.</p>
</div></div></div></div></div></div></div></div><div class="row "><div class="col-md-12"><div class="accordion indicator-plus accordion-white mb3" id="accordion-1" role="tablist"><div class="card border-0 rounded-0 mb-3"><div class="card-header h4 bg-white rounded-0 collapsed" role="tab" id="acc-header-1" href="#acc-panel-1" data-toggle="collapse" data-parent="#accordion-1" aria-controls="acc-panel-1" aria-expanded="false"><button class="card-title btn btn-link">References</button></div><div class="collapse" id="acc-panel-1" role="tablist" aria-labelledby="acc-header-1"><div class="card-body bg-white"><ol>
<li style="list-style-type: none;">
