<!-- /views/layout.erb -->

<!DOCTYPE html>
<html>
  <head>
    <title>Mental Health App</title>

    <style>
      .navbar {
        display:flex;
        justify-content: space-around;
      }
    </style>
  </head>

  <body>
    <div class="navbar">
      <div><a href="/aff">Positive Affirmations</a></div>
      <div><a href="/about">Mental Health Facts</a></div>
      <div><a href="/contact">Contact Us</a></div>
    </div>

    <%=yield%>
  </body>
  <!--footer>
    <div><a href="/">Rules</a></div>
  </footer-->
</html>
